<div id="extension-network-presence-content">
  
    <div id="extension-network-presence-content-container">
        <h3 id="extension-network-presence-title">Network Presence</h3>


        <div id="extension-network-presence-tabs-container">
            
            <div id="extension-internet-overview-page">
                <!--<h4>Stations</h4>-->
                
				
				
                <div id="extension-network-presence-overview-list">
	                
                </div>
        
                <div id="extension-network-presence-busy-scanning">
                    <div class="extension-network-presence-spinner">
                        <div></div><div></div><div></div><div></div>
                    </div>
					<p style="text-align:center">Scanning...</p>
                </div>
		
				<button id="extension-network-presence-rescan-button" class="text-button" style="display:none">Re-scan</button>
		
            </div>
            
		</div>
        

        <br/>
        <br/>

        <div id="extension-network-presence-debug-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode at the settings page for this addon.</p>
        </div>

        <!--
        <button id="extension-network-presence-volume-down-button" class="icon-button" aria-label="Down"></button>
        <button id="extension-network-presence-volume-up-button" class="icon-button" aria-label="Up"></button>
        <button id="extension-network-presence-toggle-button" class="icon-button hidden" aria-label="Play/Pause"></button>
        -->
    </div>
    
</div>




